@include mq(desctop) {
}
@include mq(laptop-l) {
}
@include mq(tablet-l) {
}
@include mq(tablet) {
  .story {
    h3 {
    }

    aside {
        display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
      .text {
        h4 {
            text-align: center;
        }

        p {
            text-align: center;

        }
      }

      .photos {
        margin-top: 20px;
        div {
            width: 33%;
          span {
            font-size: 20px;
          }

          img {
          }
        }
      }
    }
  }

  .capabilities {
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
      h3 {
        margin-bottom: 60px;
        padding: 0;
        text-align: center;
      }

      p {
        min-width: auto;
        width: 320px;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      .item {
        width: 250px;
        h3 {
        }

        p {
        }
      }
    }
  }

  .get-in-touch {
    h2 {
    }
  }
}
@include mq(mobile-l) {
}
@include mq(mobile-s) {
    .story {
        h3 {
        }
    
        aside {
          .text {
            h4 {
            }
    
            p {
            }
          }
    
          .photos {
            div {
              span {
              }
    
              img {
              }
            }
          }
        }
      }
    
      .capabilities {
        .text {
          h3 {
          }
    
          p {
          }
        }
    
        .cards {
          .item {
            h3 {
            }
    
            p {
            }
          }
        }
      }
    
      .get-in-touch {
        h2 {
        }
      }
}
