body {
  font-family: $default-font;
  color: $text-color;
}

// .container{
//   // padding: 0px 17%;
//   max-width: 940px;
//   margin: auto;
// }

h1,h2,h3,h4,h5,h6{
  font-family: 'OpenSans-Bold';
}
h1{
  // font-size: ;
}

h2{
  font-size: 20px;
}
h3{
  font-size: 22px;

}

blueText{
  color: $color_primary;

}

.button{
  @extend %text-uppercase;
  background-color: $color_primary;
  color: $text_color-light;
  border: none;
  width: 150px;
  height: 40px;
  letter-spacing: 0.5px;
  font-family: 'OpenSans-Regular';
  font-weight: 500;
  transition: ease-in 0.5s;
}

.button:hover{
  background-color: $color_primary_hover;
}

.container{
  width: 100%;
  padding-right: var(--getter-x , 0.75rem);
  padding-left: var(--getter-x , 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .container {
    width: auto;
    max-width: none;
  }
}

@media (min-width: 425px) {

  .container {
    max-width: 420px;
  }
}
@media (min-width: 768px) {
  
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 940px;
  }
}