$text_color: #48555B;
$text_color-light: #FFFFFF;

$color_primary: #00A4E5;
$color_primary_hover: #1c9acc;

$color-additional: #E6E6E6;
$bg-color-dark: #171819;
$bg-color-dark-blue: #141A20;

$default-font: 'OpenSans-Regular';

$media-breackpoints: (
  "desctop": 1400px,
  "laptop-l": 1200px,
  "tablet-l": 992px,
  "tablet":   768px,
  "mobile-l": 425px,
  "mobile-s": 375px,
);